@media (max-width: 767px) {
    .form-login-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        width: 70%;
        height: 280px;
        margin: auto;
        padding-right: 2px;
        background-color: #c9c1c2;
        border: 3px solid black;
        border-radius: 12px;
    }

    .login-mail-container, .login-password-container {
        display: flex;
        flex-direction: column;  
    }

    .login-label {
        display: flex;
        text-align: start;
        align-items: flex-end;
        margin-left: 15px;
        height: 28px;
        font-size: 19px;
        font-weight: 600;
    }

    .login-input {
        width: 94%;
        height: 32px;
        border-radius: 12px;
        margin: auto;
        padding-left: 10px;
        font-size: 19px;
        background-color: rgb(231, 225, 225);
        cursor: pointer;
    }

    .login-input:focus {
        background-color: white;
    }

    .login-input:hover {
        border-color: #fd2d01;
    }

    .login-emailError, .login-passwordError {
        height: 21px;
        font-size: 14px;
        font-weight: bold;
        color: red;
        font-style: italic;
        margin: 8px 0 9px 12px;
    }

    .submit-form-login {
        width: 98%;
        height: 60px;
        margin: auto;
        font-size: 22px;
        font-weight: bold;
        color: white;
        margin-bottom: 15px;
        border-radius: 9px;
        background-color: #bd153c;
        cursor: pointer;
    }
}

@media (min-width:767.01px) and (max-width:991px) {
    .form-login-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        width: 70%;
        height: 280px;
        margin: auto;
        background-color: #c9c1c2;
        border: 3px solid black;
        border-radius: 12px;
    }

    .login-mail-container, .login-password-container {
        display: flex;
        flex-direction: column;  
    }

    .login-label {
        display: flex;
        text-align: start;
        align-items: flex-end;
        margin-left: 15px;
        height: 31px;
        font-size: 21px;
        font-weight: 600;
    }

    .login-input {
        width: 96%;
        height: 34px;
        border-radius: 12px;
        margin: auto;
        padding-left: 10px;
        font-size: 19px;
        background-color: rgb(231, 225, 225);
        cursor: pointer;
    }

    .login-input:focus {
        background-color: white;
    }

    .login-input:hover {
        border-color: #fd2d01;
    }

    .login-emailError, .login-passwordError {
        height: 23px;
        font-size: 16px;
        font-weight: bold;
        color: red;
        font-style: italic;
        margin: 8px 0 7px 12px;
    }

    .submit-form-login {
        width: 98%;
        height: 60px;
        margin: auto;
        font-size: 22px;
        font-weight: bold;
        color: white;
        margin-bottom: 15px;
        border-radius: 9px;
        background-color: #bd153c;
        cursor: pointer;
    }
}

@media (min-width:991.01px) and (max-width:1200px) {
    .form-login-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        width: 70%;
        height: 310px;
        margin: auto;
        background-color: #c9c1c2;
        border: 3px solid black;
        border-radius: 12px;
    }

    .login-mail-container, .login-password-container {
        display: flex;
        flex-direction: column;  
    }

    .login-label {
        display: flex;
        text-align: start;
        align-items: flex-end;
        margin-left: 15px;
        height: 35px;
        font-size: 22px;
        font-weight: 600;
    }

    .login-input {
        width: 96%;
        height: 37px;
        border-radius: 12px;
        margin: auto;
        padding-left: 10px;
        font-size: 21px;
        background-color: rgb(231, 225, 225);
        cursor: pointer;
    }

    .login-input:focus {
        background-color: white;
    }

    .login-input:hover {
        border-color: #fd2d01;
    }

    .login-emailError, .login-passwordError {
        height: 25px;
        font-size: 18px;
        font-weight: bold;
        color: red;
        font-style: italic;
        margin: 8px 0 4px 12px;
    }

    .submit-form-login {
        width: 98%;
        height: 60px;
        margin: auto;
        font-size: 22px;
        font-weight: bold;
        color: white;
        margin-bottom: 15px;
        border-radius: 9px;
        background-color: #bd153c;
        cursor: pointer;
    }
}

@media screen and (min-width: 1200.01px) {
    .form-login-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        width: 70%;
        height: 330px;
        margin: auto;
        background-color: #c9c1c2;
        border: 3px solid black;
        border-radius: 12px;
    }

    .login-mail-container, .login-password-container {
        display: flex;
        flex-direction: column;  
    }

    .login-label {
        display: flex;
        text-align: start;
        align-items: flex-end;
        margin-left: 15px;
        height: 40px;
        font-size: 23px;
        font-weight: 600;
    }

    .login-input {
        width: 96%;
        height: 37px;
        border-radius: 12px;
        margin: auto;
        padding-left: 10px;
        font-size: 22px;
        background-color: rgb(231, 225, 225);
        cursor: pointer;
    }

    .login-input:focus {
        background-color: white;
    }

    .login-input:hover {
        border-color: #fd2d01;
    }

    .login-emailError, .login-passwordError {
        height: 25px;
        font-size: 18px;
        font-weight: bold;
        color: red;
        font-style: italic;
        margin: 8px 0 0 12px;
    }

    .submit-form-login {
        width: 98%;
        height: 60px;
        margin: auto;
        font-size: 22px;
        font-weight: bold;
        color: white;
        margin-bottom: 15px;
        border-radius: 9px;
        background-color: #bd153c;
        cursor: pointer;
    }
}