@media (min-width:768px) and (max-width:991px)
@media (min-width:992px) and (max-width:1200px)
@media screen and (min-width: 1201px)
@media (max-width: 767px) {
    .postComments-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .postComments-header-block-identifier {
        display: flex;          
        flex-direction: row;
        justify-content: flex-start;
    }
    
    #postComments-header-user-picture {
        width: 50px;
        height: 50px;
        border: 2px solid black;
        border-radius: 12px;
        margin: 10px 0 0 10px;
    
    }

    .postComments-header-post-userName {
        font-size: 20px;
        font-weight: 650;
        text-decoration: underline;
        margin: 10px 0 35px 15px;
        padding-bottom: -15px;
        border: 0px solid black;
    }

    .postComments-header-post-date{
        font-size: 20px;
        text-align: end;
        margin: 15px 15px 0 0;
    }
}

@media (min-width:768px) and (max-width:991px)
@media (min-width:992px) and (max-width:1200px)
@media screen and (min-width: 1201px)
@media (max-width: 767px) {
    .postComments-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .postComments-header-block-identifier {
        display: flex;          
        flex-direction: row;
        justify-content: flex-start;
    }
    
    #postComments-header-user-picture {
        width: 50px;
        height: 50px;
        border: 2px solid black;
        border-radius: 12px;
        margin: 10px 0 0 10px;
    
    }

    .postComments-header-post-userName {
        font-size: 20px;
        font-weight: 650;
        text-decoration: underline;
        margin: 10px 0 35px 15px;
        padding-bottom: -15px;
        border: 0px solid black;
    }

    .postComments-header-post-date{
        font-size: 20px;
        text-align: end;
        margin: 15px 15px 0 0;
    }
}

@media (min-width:768px) and (max-width:991px)
@media (min-width:992px) and (max-width:1200px)
@media screen and (min-width: 1201px)
@media (max-width: 767px) {
    .postComments-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .postComments-header-block-identifier {
        display: flex;          
        flex-direction: row;
        justify-content: flex-start;
    }
    
    #postComments-header-user-picture {
        width: 50px;
        height: 50px;
        border: 2px solid black;
        border-radius: 12px;
        margin: 10px 0 0 10px;
    
    }

    .postComments-header-post-userName {
        font-size: 20px;
        font-weight: 650;
        text-decoration: underline;
        margin: 10px 0 35px 15px;
        padding-bottom: -15px;
        border: 0px solid black;
    }

    .postComments-header-post-date{
        font-size: 20px;
        text-align: end;
        margin: 15px 15px 0 0;
    }
}

@media (min-width:768px) and (max-width:991px)
@media (min-width:992px) and (max-width:1200px)
@media screen and (min-width: 1201px)
@media (max-width: 767px) {
    .postComments-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .postComments-header-block-identifier {
        display: flex;          
        flex-direction: row;
        justify-content: flex-start;
    }
    
    #postComments-header-user-picture {
        width: 50px;
        height: 50px;
        border: 2px solid black;
        border-radius: 12px;
        margin: 10px 0 0 10px;
    
    }

    .postComments-header-post-userName {
        font-size: 20px;
        font-weight: 650;
        text-decoration: underline;
        margin: 10px 0 35px 15px;
        padding-bottom: -15px;
        border: 0px solid black;
    }

    .postComments-header-post-date{
        font-size: 20px;
        text-align: end;
        margin: 15px 15px 0 0;
    }
}