@media (max-width: 767px) {
    .newPost-post-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newPost-post-footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 89%;
        margin: auto;
        margin-bottom: 0;
    }

    .newPost-footer-image-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 10px 0px 0 10px;
    }

    .newPost-post-footer-icon-image {
        display: flex;
        flex-direction: row;
    }

    .newPost-post-footer-icon {
        width: 28px;
        height: 28px;
        margin: 0 35px 0 0;
        border: 1px solid transparent;
        border-radius: 6px;
        cursor: pointer;
        transform: scale(1);
    }

    .newPost-post-footer-icon:hover {
        transform: scale(1.2);
    }

    .newPost-post-footer-icon:active {
        transform: scale(0.95);
    }

    .newPost-post-footer-icon-input {
        margin-bottom: 13px;
        width: 1px;
        opacity: 0;
    }

    .newPost-post-footer-delete-image {
        height: 30px;
        width: 135px;
        margin: 5px 0 7px 0;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        background-color: rgba(247, 10, 10, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 8px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-delete-image:hover {
        background-color: rgba(247, 10, 10, 0.8);
    }

    .newPost-post-footer-delete-image:active {
        background-color: rgba(247, 10, 10, 1);
        transform: scale(0.92);
    }

    .newPost-post-footer-send {
        display: flex;
        flex-direction: column;
        margin: 0 0 7px 0;
    }

    .newPost-post-footer-button-canceled {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        height: 30px;
        width: 135px;
        background-color: rgba(247, 10, 10, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 8px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-button-canceled:hover {
        background-color: rgba(247, 10, 10, 0.8);
        transform: scale(1);
    }

    .newPost-post-footer-button-canceled:active {
        color: antiquewhite;
        background-color: rgba(247, 10, 10, 1);
        transform: scale(0.92);
    }

    .newPost-post-footer-button-send {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        height: 30px;
        width: 135px;
        background-color: rgba(158, 244, 135, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 8px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-button-send:hover {
        background-color: rgba(158, 244, 135, 0.8);
    }

    .newPost-post-footer-button-send:active {
        color: rgba(247, 10, 10, 1);;
        background-color: rgba(158, 244, 135, 1);
        transform: scale(0.92);
    }
}

@media (min-width:768px) and (max-width:991px) {
    .newPost-post-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newPost-post-footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 86%;
        margin: auto;
        margin-bottom: 0;
    }

    .newPost-footer-image-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 10px 0 0 7px;
    }

    .newPost-post-footer-icon-image {
        display: flex;
        flex-direction: row;
    }

    .newPost-post-footer-icon {
        width: 35px;
        height: 35px;
        margin: 0 35px 0 0;
        border: 1px solid transparent;
        border-radius: 6px;
        cursor: pointer;
        transform: scale(1);
    }

    .newPost-post-footer-icon:hover {
        transform: scale(1.2);
    }

    .newPost-post-footer-icon:active {
        transform: scale(0.95);
    }

    .newPost-post-footer-icon-input {
        margin-bottom: 15px;
        width: 1px;
        opacity: 0;
    }

    .newPost-post-footer-delete-image {
        width: 97%;
        margin: 5px 0 10px 0;
        padding-bottom: 5px;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        height: 35px;
        width: 180px;
        background-color: rgba(247, 10, 10, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 10px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-delete-image:hover {
        background-color: rgba(247, 10, 10, 0.8);
    }

    .newPost-post-footer-delete-image:active {
        background-color: rgba(247, 10, 10, 1);
        transform: scale(0.92);
    }

    .newPost-post-footer-send {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    .newPost-post-footer-button-canceled {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        height: 35px;
        width: 180px;
        background-color: rgba(247, 10, 10, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 10px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-button-canceled:hover {
        background-color: rgba(247, 10, 10, 0.8);
        transform: scale(1);
    }

    .newPost-post-footer-button-canceled:active {
        color: antiquewhite;
        background-color: rgba(247, 10, 10, 1);
        transform: scale(0.92);
    }

    .newPost-post-footer-button-send {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        height: 35px;
        width: 180px;
        background-color: rgba(158, 244, 135, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 10px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-button-send:hover {
        background-color: rgba(158, 244, 135, 0.8);
    }

    .newPost-post-footer-button-send:active {
        color: rgba(247, 10, 10, 1);;
        background-color: rgba(158, 244, 135, 1);
        transform: scale(0.92);
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .newPost-post-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newPost-post-footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 87%;
        margin: auto;
        margin-bottom: 0;
    }

    .newPost-footer-image-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 10px 0 0 7px;
    }

    .newPost-post-footer-icon-image {
        display: flex;
        flex-direction: row;
    }

    .newPost-post-footer-icon {
        width: 35px;
        height: 35px;
        margin: 0 35px 0 0;
        border: 1px solid transparent;
        border-radius: 6px;
        cursor: pointer;
        transform: scale(1);
    }

    .newPost-post-footer-icon:hover {
        transform: scale(1.2);
    }

    .newPost-post-footer-icon:active {
        transform: scale(0.95);
    }

    .newPost-post-footer-icon-input {
        margin-bottom: 10px;
        width: 1px;
        opacity: 0;
    }

    .newPost-post-footer-delete-image {
        width: 97%;
        margin: 5px 0 10px 0;
        text-align: center;
        font-size: 21px;
        font-weight: 700;
        height: 35px;
        width: 200px;
        background-color: rgba(247, 10, 10, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 10px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-delete-image:hover {
        background-color: rgba(247, 10, 10, 0.8);
    }

    .newPost-post-footer-delete-image:active {
        background-color: rgba(247, 10, 10, 1);
        transform: scale(0.92);
    }

    .newPost-post-footer-send {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    .newPost-post-footer-button-canceled {
        text-align: center;
        font-size: 21px;
        font-weight: 700;
        height: 35px;
        width: 200px;
        background-color: rgba(247, 10, 10, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 10px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-button-canceled:hover {
        background-color: rgba(247, 10, 10, 0.8);
        transform: scale(1);
    }

    .newPost-post-footer-button-canceled:active {
        color: antiquewhite;
        background-color: rgba(247, 10, 10, 1);
        transform: scale(0.92);
    }

    .newPost-post-footer-button-send {
        text-align: center;
        font-size: 21px;
        font-weight: 700;
        height: 35px;
        width: 200px;
        background-color: rgba(158, 244, 135, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 10px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-button-send:hover {
        background-color: rgba(158, 244, 135, 0.8);
    }

    .newPost-post-footer-button-send:active {
        color: rgba(247, 10, 10, 1);;
        background-color: rgba(158, 244, 135, 1);
        transform: scale(0.92);
    }
}

@media screen and (min-width: 1201px) {
    .newPost-post-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newPost-post-footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 87%;
        margin: auto;
        margin-bottom: 0;
    }

    .newPost-footer-image-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 10px 0 0 7px;
    }

    .newPost-post-footer-icon-image {
        display: flex;
        flex-direction: row;
    }

    .newPost-post-footer-icon {
        width: 35px;
        height: 35px;
        margin: 0 35px 0 0;
        border: 1px solid transparent;
        border-radius: 6px;
        cursor: pointer;
        transform: scale(1);
    }

    .newPost-post-footer-icon:hover {
        transform: scale(1.2);
    }

    .newPost-post-footer-icon:active {
        transform: scale(0.95);
    }

    .newPost-post-footer-icon-input {
        margin-bottom: 10px;
        width: 1px;
        opacity: 0;
    }

    .newPost-post-footer-delete-image {
        width: 97%;
        margin: 5px 0 10px 0;
        text-align: center;
        font-size: 21px;
        font-weight: 700;
        height: 35px;
        width: 200px;
        background-color: rgba(247, 10, 10, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 10px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-delete-image:hover {
        background-color: rgba(247, 10, 10, 0.8);
    }

    .newPost-post-footer-delete-image:active {
        background-color: rgba(247, 10, 10, 1);
        transform: scale(0.92);
    }

    .newPost-post-footer-send {
        display: flex;
        flex-direction: column;
        margin: 0 0 10px 0;
    }

    .newPost-post-footer-button-canceled {
        text-align: center;
        font-size: 21px;
        font-weight: 700;
        height: 35px;
        width: 200px;
        background-color: rgba(247, 10, 10, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 10px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-button-canceled:hover {
        background-color: rgba(247, 10, 10, 0.8);
        transform: scale(1);
    }

    .newPost-post-footer-button-canceled:active {
        color: antiquewhite;
        background-color: rgba(247, 10, 10, 1);
        transform: scale(0.92);
    }

    .newPost-post-footer-button-send {
        text-align: center;
        font-size: 21px;
        font-weight: 700;
        height: 35px;
        width: 200px;
        background-color: rgba(158, 244, 135, 0.6);
        border: 3px ridge #4E5166;
        border-radius: 10px;
        transform: scale(1);
        cursor: pointer;
    }

    .newPost-post-footer-button-send:hover {
        background-color: rgba(158, 244, 135, 0.8);
    }

    .newPost-post-footer-button-send:active {
        color: rgba(247, 10, 10, 1);;
        background-color: rgba(158, 244, 135, 1);
        transform: scale(0.92);
    }
}