@media (max-width: 767px) {
    .following-follow-card-unfollow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 8px 0 0 10px;
        background-color: rgb(247, 155, 155);
        font-size: 16px;
        font-weight: 570;
        width: 85px;
        height: 28px;
        border: 2px solid black;
        border-radius: 7px;
    }

    .following-follow-card-following {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 8px 0 0 10px;
        background-color: white;
        font-size: 16px;
        font-weight: 570;
        width: 85px;
        height: 28px;
        border: 2px solid black;
        border-radius: 7px;
    }

    .following-follow-card-icon {
        width: 25px;
        height: 25px;
    }

    .following-unfollow-card-icon {
        width: 22px;
        height: 22px;
    }
}

@media (min-width:767.01px) and (max-width:991px) {
    .following-follow-card-unfollow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        background-color: rgb(247, 155, 155);
        font-size: 20px;
        font-weight: 570;
        width: 95px;
        height: 36px;
        border: 2px solid black;
        border-radius: 9px;
    }

    .following-follow-card-following {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        background-color: white;
        font-size: 18px;
        font-weight: 570;
        width: 95px;
        height: 36px;
        border: 2px solid black;
        border-radius: 9px;
    }

    .following-follow-card-icon {
        width: 30px;
        height: 30px;
    }

    .following-unfollow-card-icon {
        width: 27px;
        height: 27px;
    }
}

@media (min-width:991.01px) and (max-width:1200px) {
    .following-follow-card-unfollow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 12px;
        background-color: rgb(247, 155, 155);
        font-size: 20px;
        font-weight: 570;
        width: 120px;
        height: 38px;
        border: 2px solid black;
        border-radius: 12px;
    }

    .following-follow-card-following {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 12px;
        background-color: white;
        font-size: 20px;
        font-weight: 570;
        width: 120px;
        height: 38px;
        border: 2px solid black;
        border-radius: 12px;
    }

    .following-follow-card-icon {
        width: 36px;
        height: 36px;
    }

    .following-unfollow-card-icon {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 1200.01px) {
    .following-follow-card-unfollow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 12px;
        background-color: rgb(247, 155, 155);
        font-size: 22px;
        font-weight: 570;
        width: 130px;
        height: 42px;
        border: 2px solid black;
        border-radius: 12px;
    }

    .following-follow-card-following {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 12px;
        background-color: white;
        font-size: 22px;
        font-weight: 570;
        width: 130px;
        height: 42px;
        border: 2px solid black;
        border-radius: 12px;
    }

    .following-follow-card-icon {
        width: 41px;
        height: 41px;
    }

    .following-unfollow-card-icon {
        width: 35px;
        height: 35px;
    }
}