@media (max-width: 767px) {
    h1 {
        font-size: 30px;
        margin: auto;
        margin-top: -5px;
        color: white;
        text-shadow: 3px 3px 4px #357bbd;
        text-align: center;
        -webkit-text-stroke: 1px red;
    }

    h3 {
        text-align: center;
        font-size: 22px;
        margin-top: 12px;
    }

    .profile-container {
        width: 80%;
    }

    #user-photo {
        display: flex;
        text-align: center;
        margin: auto;
        margin-top: -10px;
        width: 140px;
        height: 135px;
        border: 6px ridge #4E5166;
        box-shadow: 0.6em 0.6em 0.9em black;
        border-radius: 14px;
    }

    .update-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    .profile-photo {
        width: 95%;
        margin: auto;
        height: 330px;
        border-radius: 14px;
        background-color: rgba(255,215,215, 0.88);
        border: 5px ridge rgba(247, 10, 10, 0.6); 
        
    }

    .description-container {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 338px;
        margin: 10px 0 0 1.2%;
        border-radius: 14px;
        background-color: rgba(255,215,215, 0.88);
        border: 5px ridge rgba(247, 10, 10, 0.6);
    }

    .summary-description-block {
        display: flex;
        flex-direction: column;
        margin-top: -32px;
    }

    #profile-time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 6px 0 6px;
        font-weight: bold;
    }

    .text-time {
        font-size: 16px;
    }

    .date-time {
        margin-left: 4px;
        padding-top: 2px;    
        font-size: 15px;
    }

    .profile-description {
        display: flex;
        flex-direction: column;
        font-size: 23px;
        margin-left: 25px;

    }

    .profile-user {
        display: flex;
        flex-direction: row;
        margin-top: -25px;
    }
    .description-script {
        font-size: 16px;
        font-weight: 600;
        margin-left: -10px;
    }
    .description-dynamic {
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
        padding-top: 3px; 
    }

    .description-block {
        font-size: 14px;
        width: 90%;
        height: 90px;
        margin: auto;
        margin-top: -10px;
        padding: 5px;
        border: 2px solid black;
        background-color: rgb(255,215,215);
        border-radius: 10px;
    }

    textarea {
        font-size: 14px;
        width: 90%;
        height: 90px;
        margin: -10px 0 0 3%;
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
    }

    button {
        display: block;
        position: relative;
        float: right;
        font-size: 15px;
        font-weight: 600;
        margin: 2px 3.8% 0 0;
        height: 25px;
        width: 200px;
        border: 3px ridge #4E5166;
        border-radius: 4px;
        transform: scale(1);
    }

    button:active {
        background-color: rgba(143, 203, 111, 0.6);
        transform: scale(0.95)
    }

    .follow-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (min-width:767.01px) and (max-width:991px) {
    h1 {
        margin: auto;
        margin-top: 17px;
        font-size: 40px;
        color: white;
        text-shadow: 5px 5px 7px #357bbd;
        text-align: center;
        -webkit-text-stroke: 2px rgb(246, 58, 58);
    }

    h3 {
        text-align: center;
        font-size: 28px;
    }

    .profile-container {
        height: 100%;
        width: 100%;
    }

    #user-photo {
        display: flex;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        width: 200px;
        height: 180px;
        border: 8px ridge #4E5166;
        box-shadow: 0.6em 0.6em 0.9em black;
        border-radius: 15px;
    }

    .update-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    .profile-photo {
        width: 48%;
        height: 550px;
        margin: 23px 0 0 0;
        border-radius: 18px;
        background-color: rgba(255,215,215, 0.88);
        border: 6px ridge rgba(247, 10, 10, 0.6); 
        
    }

    .description-container {
        display: flex;
        flex-direction: column;
        width: 48%;
        height: 550px;
        margin: 23px 0 0 0;
        border-radius: 18px;
        background-color: rgba(255,215,215, 0.88);
        border: 6px ridge rgba(247, 10, 10, 0.6);
    }

    .summary-description-block {
        display: flex;
        flex-direction: column;
        margin-top: -45px;
    }

    #profile-time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 7px 0 7px;
        font-weight: bold;
    }

    .text-time {
        font-size: 18px;
    }

    .date-time {
        margin-left: 10px;    
        font-size: 18px;
    }

    .profile-description {
        display: flex;
        flex-direction: column;
        font-size: 23px;
        margin-left: 25px;

    }

    .profile-user {
        display: flex;
        flex-direction: row;
        margin-top: -25px;
    }
    .description-script {
        font-size: 19px;
        font-weight: 600;
    }
    .description-dynamic {
        font-size: 17px;
        font-weight: 600;
        margin-left: 20px;
        padding-top: 3px;
    }

    .description-block {
        font-size: 20px;
        width: 93.5%;
        height: 190px;
        margin: auto;
        padding: 5px;
        border: 3px solid black;
        background-color: rgb(255,215,215);
        border-radius: 13px;
    }

    textarea {
        font-size: 20px;
        width: 93.5%;
        height: 190px;
        margin-left: 1.4%;
        padding: 5px;
        border: 3px solid black;
        border-radius: 13px;
    }

    button {
        display: block;
        position: relative;
        float: right;
        font-size: 17px;
        font-weight: 600;
        margin: 10px 10px 0 0;
        height: 35px;
        width: 230px;
        border: 3px ridge #4E5166;
        border-radius: 7px;
        transform: scale(1);
    }

    button:active {
        background-color: rgba(143, 203, 111, 0.6);
        transform: scale(0.95)
    }
}

@media (min-width:991.01px) and (max-width:1200px) {
    h1 {
        margin: auto;
        margin-top: 23px;
        font-size: 45px;
        color: white;
        text-shadow: 5px 5px 7px #357bbd;
        text-align: center;
        -webkit-text-stroke: 2px rgb(246, 58, 58);
    }

    h3 {
        text-align: center;
        font-size: 31px;
    }

    .profile-container {
        height: 100%;
        width: 100%;
    }

    #user-photo {
        display: flex;
        text-align: center;
        margin: auto;
        margin-top: -10px;
        width: 250px;
        height: 230px;
        border: 8px ridge #4E5166;
        box-shadow: 0.6em 0.6em 0.9em black;
        border-radius: 15px;
    }

    .update-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    .profile-photo {
        width: 48%;
        height: 580px;
        margin: 20px 0 0 0;
        border-radius: 18px;
        background-color: rgba(255,215,215, 0.88);
        border: 6px ridge rgba(247, 10, 10, 0.6); 
        
    }

    .description-container {
        display: flex;
        flex-direction: column;
        width: 48%;
        height: 580px;
        margin: 20px 0 0 0;
        border-radius: 18px;
        background-color: rgba(255,215,215, 0.88);
        border: 6px ridge rgba(247, 10, 10, 0.6);
    }

    .summary-description-block {
        display: flex;
        flex-direction: column;
        margin-top: -45px;
    }

    #profile-time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px 15px 0 15px;
        font-weight: bold;
    }

    .text-time {
        padding-top: 3px;
        font-size: 20px;
    }

    .date-time {
        margin-left: 25px;   
        font-size: 21px;
    }

    .profile-description {
        display: flex;
        flex-direction: column;
        font-size: 23px;
        margin-left: 25px;

    }

    .profile-user {
        display: flex;
        flex-direction: row;
        margin-top: -25px;
    }
    .description-script {
        font-size: 20px;
        font-weight: 600;
        /* text-decoration: underline; */
    }
    .description-dynamic {
        font-size: 19px;
        font-weight: 600;
        margin-left: 20px;
        padding-top: 2px;
    }

    .description-block {
        font-size: 20px;
        width: 93.5%;
        height: 170px;
        margin: auto;
        padding: 5px;
        border: 4px solid black;
        background-color: rgb(255,215,215);
        border-radius: 13px;
    }

    textarea {
        font-size: 20px;
        width: 93.5%;
        height: 170px;
        margin-left: 1.4%;
        padding: 5px;
        border: 4px solid black;
        border-radius: 13px;
    }

    button {
        display: block;
        position: relative;
        float: right;
        font-size: 19px;
        font-weight: 600;
        margin: 10px 10px 0 0;
        height: 35px;
        width: 250px;
        border: 3px ridge #4E5166;
        border-radius: 7px;
        transform: scale(1);
    }

    button:active {
        background-color: rgba(143, 203, 111, 0.6);
        transform: scale(0.95)
    }
}

@media screen and (min-width: 1200.01px) {
    h1 {
        margin: auto;
        margin-top: 16px;
        font-size: 48px;
        color: white;
        text-shadow: 5px 5px 7px #357bbd;
        text-align: center;
        -webkit-text-stroke: 2px rgb(246, 58, 58);
    }

    h3 {
        text-align: center;
        font-size: 34px;
        margin-top: 20px;
    }

    .profile-container {
        height: 100%;
        width: 100%;
    }

    #user-photo {
        display: flex;
        text-align: center;
        margin: auto;
        margin-top: -10px;
        width: 300px;
        height: 280px;
        border: 8px ridge #4E5166;
        box-shadow: 0.6em 0.6em 0.9em black;
        border-radius: 15px;
    }

    .update-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

    .profile-photo {
        width: 48%;
        height: 620px;
        margin: 15px 0 0 0;
        border-radius: 18px;
        background-color: rgba(255,215,215, 0.88);
        border: 7px ridge rgba(247, 10, 10, 0.6); 
        
    }

    .description-container {
        display: flex;
        flex-direction: column;
        width: 48%;
        height: 620px;
        margin: 15px 0 0 0;
        border-radius: 18px;
        background-color: rgba(255,215,215, 0.88);
        border: 7px ridge rgba(247, 10, 10, 0.6);
    }

    .summary-description-block {
        display: flex;
        flex-direction: column;
        margin-top: -45px;
    }

    #profile-time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px 15px 0 15px;
        font-weight: bold;
    }

    .text-time {
        padding-top: 9px;
        font-size: 20px;
        font-style: italic;
    }

    .date-time {
        margin-left: 25px;   
        font-size: 22px;
    }

    .profile-description {
        display: flex;
        flex-direction: column;
        font-size: 23px;
        margin-left: 25px;

    }

    .profile-user {
        display: flex;
        flex-direction: row;
        margin-top: -25px;
    }
    .description-script {
        font-size: 22px;
        font-weight: 600;
        /* text-decoration: underline; */
    }
    .description-dynamic {
        font-size: 20px;
        font-weight: 600;
        margin-left: 20px;
        padding-top: 5px;
    }

    .description-block {
        font-size: 23px;
        width: 93.5%;
        height: 200px;
        margin: auto;
        padding: 5px;
        border: 4px solid black;
        background-color: rgb(255,215,215);
        border-radius: 13px;
    }

    textarea {
        font-size: 23px;
        width: 93.5%;
        height: 200px;
        margin-left: 1.4%;
        padding: 5px;
        border: 4px solid black;
        border-radius: 13px;
    }

    button {
        display: block;
        position: relative;
        float: right;
        font-size: 21px;
        font-weight: 600;
        margin: 7px 3% 0 0;
        height: 38px;
        width: 300px;
        border: 3px ridge #4E5166;
        border-radius: 7px;
        transform: scale(1);
    }

    button:active {
        background-color: rgba(143, 203, 111, 0.6);
        transform: scale(0.95)
    }

    
}