@media (max-width: 767px) {
    .file-change {
        display: flex;
        flex-direction: column;
    }

    .file-change-choice {
        display: block;
        position: relative;
        font-size: 16px;
        color: white;
        font-weight: bold;
        width: 215px;
        height: 29px;
        text-align: center;
        margin: auto;
        margin-top: 18px;
        padding-top: 10px;
        border-radius: 20px;
        background-color: #bd153c;
        cursor: pointer;
        z-index: 2;
        transform: scale(1);
        border: 2px solid red;
    }

    .file-change-choice:hover {
        background-color: rgba(207, 60, 94);
    }

    .file-change-choice:active {
        transform: scale(0.95);
    }

    #file {
        width: 1px;
        opacity: 0;
    }

    .profile-picture-change {
        display: block;
        color: white;
        font-size: 16px;
        font-weight: 700;
        width: 215px;
        height: 43px;
        text-align: center;
        margin: auto;
        margin-top: -10px;
        margin-bottom: 10px;
        padding-top: 4px;
        border-radius: 20px;
        background-color: rgb(155, 32, 61);
        transform: scale(1);
        cursor: pointer;
        border: 3px solid red;
    }

    .profile-picture-change:hover {
        background-color: rgba(155, 32, 61, 0.83); 
    }

    .profile-picture-change:active {
        transform: scale(0.92);
    }
}

@media (min-width:767.01px) and (max-width:991px) {
    .file-change {
        display: flex;
        flex-direction: column;
    }

    .file-change-choice {
        display: block;
        position: relative;
        font-size: 18px;
        color: white;
        font-weight: bold;
        width: 285px;
        height: 35px;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        padding-top: 10px;
        border-radius: 20px;
        background-color: #bd153c;
        cursor: pointer;
        z-index: 2;
        transform: scale(1);
        border: 3px solid red;
    }

    .file-change-choice:hover {
        background-color: rgba(207, 60, 94);
    }

    .file-change-choice:active {
        transform: scale(0.98);
    }

    #file {
        height: 45px;
        opacity: 0;
    }

    .profile-picture-change {
        display: block;
        color: white;
        font-size: 20px;
        font-weight: 700;
        width: 285px;
        height: 50px;
        text-align: center;
        margin: auto;
        margin-top: -10px;
        margin-bottom: 10px;
        padding-top: 4px;
        border-radius: 20px;
        background-color: rgb(155, 32, 61);
        transform: scale(1);
        cursor: pointer;
        border: 3px solid red;
    }

    .profile-picture-change:hover {
        background-color: rgba(155, 32, 61, 0.83);
    }

    .profile-picture-change:active {
        transform: scale(0.95);
    }
}

@media (min-width:991.01px) and (max-width:1200px) {
    .file-change {
        display: flex;
        flex-direction: column;
    }

    .file-change-choice {
        display: block;
        position: relative;
        font-size: 20px;
        color: white;
        font-weight: bold;
        width: 315px;
        height: 35px;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        padding-top: 10px;
        border-radius: 20px;
        background-color: #bd153c;
        cursor: pointer;
        z-index: 2;
        transform: scale(1);
        border: 3px solid red;
    }

    .file-change-choice:hover {
        background-color: rgba(207, 60, 94);
    }

    .file-change-choice:active {
        transform: scale(0.98);
    }

    #file {
        height: 50px;
        opacity: 0;
    }

    .profile-picture-change {
        display: block;
        color: white;
        font-size: 22px;
        font-weight: 700;
        width: 315px;
        height: 50px;
        text-align: center;
        margin: auto;
        margin-top: -10px;
        margin-bottom: 10px;
        padding-top: 4px;
        border-radius: 20px;
        background-color: rgb(155, 32, 61);
        transform: scale(1);
        cursor: pointer;
        border: 3px solid red;
    }

    .profile-picture-change:hover {
        background-color: rgba(155, 32, 61, 0.83);
    }

    .profile-picture-change:active {
        transform: scale(0.95);
    }
}

@media screen and (min-width: 1200.01px) {
    .file-change {
        display: flex;
        flex-direction: column;
    }

    .file-change-choice {
        display: block;
        position: relative;
        font-size: 20px;
        color: white;
        font-weight: bold;
        width: 315px;
        height: 35px;
        text-align: center;
        margin: auto;
        margin-top: 30px;
        padding-top: 10px;
        border-radius: 20px;
        background-color: #bd153c;
        cursor: pointer;
        z-index: 2;
        transform: scale(1);
        border: 3px solid red;
    }

    .file-change-choice:hover {
        background-color: rgba(207, 60, 94);
    }

    .file-change-choice:active {
        transform: scale(0.98);
    }

    #file {
        height: 55px;
        opacity: 0;
    }

    .profile-picture-change {
        display: block;
        color: white;
        font-size: 22px;
        font-weight: 700;
        width: 315px;
        height: 50px;
        text-align: center;
        margin: auto;
        margin-top: -10px;
        margin-bottom: 10px;
        padding-top: 4px;
        border-radius: 20px;
        background-color: rgb(155, 32, 61);
        transform: scale(1);
        border: 3px solid red;
    }

    .profile-picture-change:hover {
        background-color: rgba(155, 32, 61, 0.83);
    }

    .profile-picture-change:active {
        transform: scale(0.95);
    }
}