.navbar-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: 4px ridge black;
    border-radius: 14px;
    position: fixed;
    width: 98%;
    z-index: 6;
}

.home-block {
    height: 100px;
    width : 178px;
    border: 0px solid red; 
}

#groupomania-logo {
    height: 100px;
    width : 178px;
    margin-left: 10px;
}

#home-link {
    height: 100px;
    width : 178px;
    border: 2px solid red;
}

#followers-link {
    height: 100px;
    width : 178px;
    border: 3px solid yellow;
}

#home-logo {
    height: 50px;
    width : 50px;
    margin-top : 20px; 
    margin-right: 22px; 
    border: 0px solid black;
}

#home-logo:active {
    height: 50px;
    width : 50px;
    margin-top : 20px; 
    margin-right: 22px; 
    background-color: #bd153c;
}

#followers-logo {
    height: 71px;
    width : 71px;
    margin-top : 10px; 
    margin-right: 12px; 
    border: 0px solid black;
}

#followers-logo:active {
    height: 71px;
    width : 71px;
    margin-top : 10px; 
    margin-right: 12px; 
    background-color: #bd153c;
}

#profile-logo {
    height: 50px;
    width : 50px;
    margin-top : 20px;  
    border: 0px solid black;
}

#profile-logo:active {
    height: 50px;
    width : 50px;
    margin-top : 20px;  
    background-color: #bd153c;
}

#profile-link {
    height: 100px;
    width : 178px;
    border: 3px solid black;
}

#profile-block {
    font-size: 25px;
    margin-top: -25px;
}

.log-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
    border: 3px solid blue;
}

.nav-block {
    display: flex;
    flex-direction: row;

}

#welcome-profile {
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#logo-login {
    height: 80px;
    width : 80px;
    margin-top: 10px; 
    border: 0px solid black;
}



