h1 {
    margin: auto;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 4px #357bbd;
    text-align: center;
    -webkit-text-stroke: 1px red;
}

.profile-container {
    border: 3px solid black
}

.update-container {
    border: 4px solid red
}

.profile-photo {
    border: 2px solid yellow
}
