@media (max-width: 767px) {
    .card-container {
        width: 80%;
        margin: auto;
        margin-top : 20px;
        margin-bottom: 20px;
        background-color: white;
        border: 3px ridge black;
        border-radius: 15px;
        z-index: 1;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .card-container {
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: white;
        border: 3px ridge black;
        border-radius: 15px;
        z-index: 1;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .card-container {
        width: 65%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: white;
        border: 4px ridge black;
        border-radius: 15px;
        z-index: 1;
    }
}

@media screen and (min-width: 1201px) {
    .card-container {
        width: 58%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: white;
        border: 4px ridge black;
        border-radius: 15px;
        z-index: 1;
    }
}
