@media (max-width: 767px) {
    .post-footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .post-footer-icons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .post-footer-comment-container {
        display: flex;
        flex-direction: column;
    }

    .post-footer-comment-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 7px 20px 7px 0;
    }

    #post-footer-icon-comment {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .post-footer-number-comment {
        font-size: 15px;
        text-align: center;
        margin: 1px 0 0 5px;
    }

    .post-footer-like-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 7px 0 0 5%;
    }

    .post-footer-like-number {
        font-size: 15px;
        text-align: center;
        margin: 1px 0 0 5px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .post-footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .post-footer-icons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .post-footer-comment-container {
        display: flex;
        flex-direction: column;
    }

    .post-footer-comment-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 5px 20px 7px 0;
    }

    #post-footer-icon-comment {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .post-footer-number-comment {
        font-size: 19px;
        text-align: center;
        margin: 3px 0 0 5px;
    }

    .post-footer-like-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 5px 0 0 5%;
    }

    .post-footer-like-number {
        font-size: 19px;
        text-align: center;
        margin: 3px 0 0 5px;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .post-footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .post-footer-icons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .post-footer-comment-container {
        display: flex;
        flex-direction: column;
    }

    .post-footer-comment-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 5px 20px 7px 0;
    }

    #post-footer-icon-comment {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .post-footer-number-comment {
        font-size: 21px;
        text-align: center;
        margin: 3px 0 0 5px;
    }

    .post-footer-like-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 5px 0 0 5%;
    }

    .post-footer-like-number {
        font-size: 21px;
        text-align: center;
        margin: 3px 0 0 5px;
    }
}

@media screen and (min-width: 1201px) {
    .post-footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .post-footer-icons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .post-footer-comment-container {
        display: flex;
        flex-direction: column;
    }

    .post-footer-comment-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 5px 20px 10px 0;
    }

    #post-footer-icon-comment {
        width: 27px;
        height: 27px;
        cursor: pointer;
    }

    .post-footer-number-comment {
        font-size: 22px;
        text-align: center;
        margin: 3px 0 0 5px;
    }

    .post-footer-like-block {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 5px 0 0 5%;
    }

    .post-footer-like-number {
        font-size: 21px;
        text-align: center;
        margin: 3px 0 0 5px;
    }
}

