@media (max-width: 767px) {
    #logo-logout {
        height: 40px;
        width : 40px;
        margin: 18px 5px 0 0 ;
        padding-left: 10px; 
        border: 0px solid blue;
        cursor: pointer;
    }
}

@media (min-width:767.01px) and (max-width:991px) {
    #logo-logout {
        height: 60px;
        width : 60px;
        margin: 18px 5px 0 0 ;
        padding-left: 15px; 
        border: 0px solid blue;
        cursor: pointer;
    }
}

@media (min-width:991.01px) and (max-width:1200px) {
    #logo-logout {
        height: 65px;
        width : 65px;
        margin: 16px 5px 0 0;
        padding-left: 14px; 
        border: 0px solid blue;
        cursor: pointer;
    }
}

@media screen and (min-width: 1200.01px) {
    #logo-logout {
        height: 80px;
        width : 80px;
        margin: 10px 5px 0 0;
        padding-left: 25px; 
        border: 0px solid blue;
        cursor: pointer;
    }
}